::placeholder {
  font: var(--text-md);
}

form {
  width: 100%;
  display: flex;
  justify-content: center;
}

.input {
  width: 100%;
  max-width: 25rem;
  height: 3.5rem;
  padding-left: 16px;
  padding-right: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  background-color: var(--base---gray-300);
  border: 1px solid var(--base---gray-400);
  border-radius: 12px;
}

.input:focus-within {
  outline: 1px solid var(--main---pink);
  border: 1.5px solid var(--main---pink);
  outline-offset: 0.1px;
  caret-color: var(--main---pink);
  color: var(--base---gray-700);
}

.input label {
  display: none;
}

.input input {
  width: calc(100% - (2.5rem + 24px));
  background-color: var(--base---gray-300);
  height: 100%;
  font: var(--text-md);
}

.input button {
  background-color: var(--base---gray-700);
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 8px;
}

.input button:enabled:hover, .input button:enabled:focus   {
  background-color: var(--base---gray-600);
  cursor: pointer;
}

.input button:disabled {
  opacity: 60%;
}

.input button:disabled:hover {
  cursor: not-allowed;
}

@media (width >=960px) {
  .input {
    width: 25rem;
  }
}