#infos {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

#profile, #card, #count, #visit-history {
  border-radius: 16px;
  background-color: var(--base---gray-100);
  border: 1px solid var(--base---gray-300);
}

@media (width >=960px) {
  #infos {
    margin-top: 64px;
  }
}
